<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhom14_appbansachtrennentangandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logobansach"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom14_AppBanSachTrenNenTangAndroid"
        android:usesCleartextTraffic="true">

        <activity android:name=".View.QuenmkActivity"/>

        <activity
            android:name=".View.DanhMucActivity"
            android:exported="true" />
        <activity
            android:name=".View.PostDanhGiaActivity"
            android:exported="true" />
        <activity
            android:name=".View.ChiTietDonHangActivity"
            android:parentActivityName=".View.DonHangActivity"
            android:exported="true" />
        <activity
            android:name=".View.TimKiemDonActivity"
            android:exported="true"
            android:parentActivityName=".View.DonHangActivity"/>
        <activity
            android:name=".View.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".View.DanhGiaActivity"
            android:exported="true"
            android:parentActivityName=".View.ChiTietSPActivity" />
        <activity
            android:name=".View.ThanhToanActivity"
            android:exported="true" />
        <activity android:name=".View.GioHangActivity" />
        <activity
            android:name=".View.DonHangActivity"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true" />
        <activity
            android:name=".View.DangKyActivity"
            android:exported="true" />
        <activity
            android:name=".View.ChiTietSPActivity"
            android:exported="true"/>
        <activity android:name=".View.DangNhap"
            android:exported="true"/>

        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.ChangePassActivity"
            android:exported="true" />
        <activity
            android:name=".View.CapNhatTKActivity"
            android:exported="true" />
    </application>

</manifest>